body {
  background-color: #d8eaf8;
}

h1 {
  font-size: 40px;
  color: black;
  font-family: Georgia;
}

h2 {
  font-size: 35px;
  color: #074473;
}

.msg{
  font-size: 12px;
}

.jumbotron[id='2'] {
  background :#e8f5ff;
  height: 300px;
}

.jumbotron[id='3'] {
  background :#e8f5ff;
  height: 400px;
}

.jumbotron[id='4'] {
  background :#e8f5ff;
  height: 350px;
}

#lien{
  font-size: 30px;
  font-size: normal;
  font-family: "Georgia";
}

a {
    color: #56d8ef;
}

#suppr {
  font-size: 25px;
  color: #99dda5;
}

.badge {
  color: #2e61d1;
  font-size: 25px;
}

.jumbotron[id='5'] {
  background :#706f77;
  height: 300px;
  width: 450px;
}

#pseudo {
  font-size: 22px;
  color: #f97572;
font-weight: bold;
}

#date {
  font-style: italic;
  font-size: 8px;
  color: white;
}

#description {
  font-size: 15px;
  color:white;
text-align: center;
}

#post {
  text-decoration: underline;
  font-size: 20px;
  color: white;
  text-align: center;

}

#votes {
  color : #48474f;
  text-align: center;
  font-weight: bold;
}

#bienvenue {
  color: #4c3127;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

h3 {
  color: #2e61d1;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}
