body {
  background-color: #d8eaf8;
}

h1 {
  font-size: 40px;
  color: black;
  font-family: Georgia;
}

h2 {
  font-size: 35px;
  color: #074473;
}

h3 {
  color: #2e61d1;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}

h4 {
  font-size: 20px;
    color: #074473;
}

.soustitre {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  color: #5b88ea;
}

.msg{
  font-size: 12px;
}

.jumbotron[id='2'] {
  background :#e8f5ff;
  height: 300px;
}

.jumbotron[id='3'] {
  background :#e8f5ff;
  height: 400px;
}

.jumbotron[id='4'] {
  background :#e8f5ff;
  height: 350px;
}

#lien{
  font-size: 30px;
  font-size: normal;
  font-family: "Georgia";
}

a {
    color: #56d8ef;
}

#suppr {
  font-size: 25px;
  color: #46a858;
}

.badge {
  color: #2e61d1;
  font-size: 25px;
}

.jumbotron[id='5'] {
  background :#706f77;
  height: 300px;
  width: 450px;
}

.jumbotron[id='6'] {
  background: #706f77;
  height: 300px;
  display: table-cell;
  vertical-align: middle;
  width: 1000px;
}

.jumbotron[id='7'] {
  background :#4b8dbc;
  height: 300px;
}

.jumbotron[id='8'] {
  background :#adabb5;
  height: 350px;
}

#pseudo {
  font-size: 22px;
  color: #f97572;
font-weight: bold;
}

#pseudop {
  font-size: 25px;
  color: #f97572;
font-weight: bold;
}

#pseudoc {
  font-size: 20px;
  color: white;
}


#date {
  font-style: italic;
  font-size: 8px;
  color: white;
}

#datep {
  font-style: italic;
  font-size: 11px;
  color: white;
}

#description {
  font-size: 15px;
  color:white;
text-align: center;
}

#descriptionp {
  font-size: 18px;
  color:white;
text-align: center;
}

#post {
  text-decoration: underline;
  font-size: 20px;
  color: white;
  text-align: center;
}

#postp {
  text-decoration: underline;
  font-size: 23px;
  color: white;
  text-align: center;
}

#votes {
  color : #48474f;
  text-align: center;
  font-weight: bold;
}

#votesp {
  color : #48474f;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

#bienvenue {
  color: #4c3127;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}



.btns {
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
}

.upvote {
  border-color: #4CAF50;
  color: green;
}

.upvote:hover {
    background-color: #4CAF50;
    color: white;
}

.downvote {
  border-color: #f44336;
  color: red;
}

.downvote:hover {
    background-color: #f44336;
    color: white;
}

.annulevote {
  border-color: #ff9800;
  color: orange;
}

.annulevote:hover {
    background-color: #ff9800;
    color: white;
}

.btnp {
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 5px;
  border-color: #9da0a5;
  color: white;
  background-color: #9da0a5;
}
